body {font-size:12px;font-family:arial;}
#top_bg {width:100%;height:400px;position:absolute;top:0px;left:0px;}
#top_bg_base {width:100%;height:100%;}
#top_bg_left {background:#2fbb68;}
#top_bg_center {background:#2fbb68;width:900px;}
#top_bg_right {background:#2fbb68;}
#curve_center {background:url(../images/bg/curve_center.png);width:900px;height:400px;}
#curve_l {background:url(../images/bg/curve_l.png);width:100%;height:400px;position:relative;}
#curve_r {background:url(../images/bg/curve_r.png);width:100%;height:400px;position:relative;}
#transgen_logo {background:url(../images/logo/transgen_logo.png);width:428px;height:312px;position:relative;top:50px;}
#top {width:100%;height:50px;position:absolute;top:0px;left:0px;background:white;border-bottom:1px solid grey}
#top_shade {background:url(../images/bg/top_shade.png);width:100%;height:100px;position:absolute;top:50px;}
#navigation {width:900px;height:50px;top:0px;}
a.navigation {font-size:16px;color:green;text-decoration:none;font-weight:bold;}
a.sub_navigation {font-size:13px;color:white;text-decoration:none;}
a.imagelink {width:100%;height:100%;display:block;}
a.link {text-decoration:none;color:black;}
a.link:hover {color:green;}
#top_base {position:relative;width:900px;}
#navigation_base {background:white;padding:15px;padding:relative;}
#navigation_base:hover {color:white;background:#00a643;}
#navigation_01 {position:absolute;left:000px;}
#navigation_02 {position:absolute;left:76px;}
#navigation_03 {position:absolute;left:172px;}
#navigation_04 {position:absolute;left:255px;}
#searchbar {position:absolute;right:0px;top:12px;}
#search_txt {width:200px;background:white;border:1px solid green;padding:5px;}
#search_btn {position:absolute;right:0px;}
#sub_navigation_base {background:#00a643;border:1px solid grey;border-top:1px solid transparent;width:200px;text-align:left;}
#sub_navigation_01 {position:absolute;top:50px;left:0px;}
#sub_navigation_02 {position:absolute;top:50px;left:76px;}
#sub_navigation_03 {position:absolute;top:50px;left:172px;}
#sub_navigation_04 {position:absolute;top:50px;left:255px;}
#sub_navigation_base_01 {font-size:12px;color:white;padding:10px;}
#sub_navigation_base_01:hover {color:green;background:white;}
h1.green, h2.green, h3.green, h4.green, h5.green, h6.green {color:#00a643;}
h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {color:white;}
span {font-size:14px;}
span.com_name {color:green;font-weight:bold;}
#container {width:100%;position:absolute;left:0px;top:400px;}
#container_base {width:900px;text-align:left;}
#footer {background:url(../images/bg/footer.png);background-repeat:repeat-x;width:100%;height:350px;position:relative;top:150px;}
#footer_shade_01 {background:url(../images/bg/top_shade.png);width:100%;height:100px;position:absolute;top:0px;}
#footer_shade_02 {background:url(../images/bg/bottom_shade.png);width:100%;height:100px;position:absolute;bottom:100px;}
#footer_base {width:900px;position:relative;top:10px;}
#footer_nav {padding-right:10px;padding-left:20px;}
#copyright {width:900px;height:50px;position:relative;top:50px;padding:15px;text-align:left;}
#facebook {background:url(../images/sn/facebook.png);width:16px;height:16px;position:absolute;right:55px;top:15px;}
#twitter {background:url(../images/sn/twitter.png);width:16px;height:16px;position:absolute;right:35px;top:15px;}
#rss {background:url(../images/sn/rss.png);width:16px;height:16px;position:absolute;right:15px;top:15px;}
a.footer_nav {font-size:14px;color:white;text-decoration:none;}